body {
	font-family: 'Muli', sans-serif;
/*	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
    background-size: cover;*/
    min-height: 100vh;
	margin: 0;
/*  background-image: linear-gradient(135deg, #a7cfdf 0%,#33cccc 100%);*/
}

.button-box{
	display: flex;
	flex-direction: row;
}


button {
	text-align: left;
	font-size: 14px;
    background-color: #356d87;
    border: 0;
    border-radius: 10px;
    -webkit-appearance: none;
    padding: 11px;
    font-weight: 700;
    color: #fff;
    margin: 10px;
    font-family: 'Muli', sans-serif;
}

h1 {
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	color: #356d87;
	font-size: 28px;
	margin-top: 25px;
	padding: 10px;
}

h2 {
	color: #356d87;
	font-size: 16px;
	font-weight: 700;
}


p {
	color: #a4a4a4;
	font-size: 16px;
	
}

input.field {
	border:3px solid #c8dfea;
	background-color: #f2f2f2;
	color: #356d87;
	border-radius: 10px;
	width: 150px;
	padding: 10px;
	font-weight: 400;
	font-family: 'Muli', sans-serif;
}

input:focus { 
	border-radius: 10px;
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

::placeholder { /* Most modern browsers support this now. */
   color: #a4a4a4;
}

hr {
	border: none;
	border-top: 1px solid #e6e6e6;
	width: 50%;
}

.day-names {
	color: #a4a4a4;
	font-size: 16px;
	padding-right: 15px;
	padding-left: 15px;
}

.times {
	color: #a4a4a4;
	font-size: 12px;
	font-weight: 700;
}

table {
	border-spacing: 10px;
}

.top-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	
}
.main-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   	margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
/*    box-shadow: 0px 0px 15px grey;
*/  background: #fff;
    min-width: 600px;
    border: solid 3px #c8dfea;
}

.side-container {
	position: fixed;
	top: 20px;
	display: flex;
    flex-direction: column;
   /* justify-content: left;*/
    align-items: left;
    margin-top: 50px;
    margin-left: -450px;
    padding-bottom: 50px;
    border-radius: 5px;
    min-width: 250px;
/*    box-shadow: 0px 0px 15px grey;
*/    background: #356d87;
}

.side-hr {
	border: none;
	border-top: 1px solid #fff;
	width: 50%;
}


p.side-text {
	color: #fff;
	margin: 10px;
	font-size: 15px;
	padding: 5px;
	font-weight: 400px;
}

p.side-text-total {
	color: #fff;
	margin: 10px;
	font-size: 15px;
	font-weight: 400;
	padding: 5px;
}

h2.side-text {
	font-size: 17px;
	color: #fff;
	margin: 10px;
	padding: 5px;
	font-weight: 700;
}

h2.side-text-dog {
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-size: 24px;
	font-family: ;
	color: #fff;
	margin: 10px;
	padding: 5px;
	text-decoration: none;
}

h3.side-text {
	font-size: 18px;
	color: #fff;
	margin: 10px;
	padding: 5px;
}

a:link.side-text{
	color: #fff;
	padding: 5px;
	margin: 10px;
	text-decoration: none;
	
}

a:hover.side-text {
	text-decoration: underline;
}

a:visited.side-text {
	color: #fff;
}

.intro-div {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
/*    box-shadow: 0px 0px 15px grey;
*/    background: #fff;
    border: solid 3px #c8dfea;
    max-width: 600px;
}

.pill-bottle {
	max-width: 50px;
	padding: 10px;
}